Repository yceffort/lab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:package: add lint-staged
  package.json
  pnpm-lock.yaml
Due: prettier --write

:lipstick: add reveal.js
  pages/_app.tsx
Due: eslint --fix

:package: install eslint@7
  package.json
  pnpm-lock.yaml
Due: prettier --write

:sparkles: add .npmrc
  .npmrc
Due: none

:wrench: fix eslint configuration
  .eslintrc.js
  .eslintrc.json
Due: prettier --write, eslint --fix

:sparkles: add sample page
  package-lock.json
  pages/index.tsx
  pages/ppt/how-browser-render-web-pages.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{md,json,rc}
  eslint --fix: any of: **/*.{js,ts,tsx}
